/* add-details.html */
.add-details .col-lg-6.col-md-8.col-sm-12 {
    padding: 3em;
    background: #eeeeee;
    border-radius: 0.5em;
}

@media(max-width: 768px){
    .add-details .col-lg-6.col-md-8.col-sm-12 {
        padding: 2em 1em;
    }
}


/* index.html */
.container.col-md-8.margin-to-top {
    margin-top: 6em;
}

@media(max-width:574px){
    .container.col-md-8.margin-to-top {
        margin-top: 2em;
        text-align: center;
    }
}