{% extends 'layout.html' %} {% block body %}

<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">S.No.</th>
        <th scope="col">Site</th>
        <th scope="col">Username</th>
        <th scope="col">Password</th>
      </tr>
    </thead>
    <tbody>
      {% for post in posts %}
      <tr>
        <th scope="row">{{post['sno']}}</th>
        <td>{{post['site']}}</td>
        <td>{{post['username']}}</td>
        <td>{{post['password']}}</td>
        <td>
          <form action="/decryptPass" method="post">
            <input type="hidden" name="sno" value="{{post['password']}}" />
            <input type="submit" class="btn btn-success" value="Decrypt" />
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% if decryptedPwd %}
  <span class="table"
    ><b>Password : </b
    ><input
      type="text"
      value="{{decryptedPwd}}"
      maxlength="40"
      size="40"
      readonly
  /></span>

  {%else%}
  <span class="table" type="hidden"></span>
  {% endif %}
</div>

{% endblock %}
